case endpoint.method.toUpperCase()
    when 'GET'
        - var group = "primary"
    when 'POST'
        - var group = "success"
    when 'PUT'
        - var group = "warning"
    when 'DELETE'
        - var group = "danger"
    default
        - var group = "secondary"


div.alert.endpoint(role="alert", class=`alert-${group}`)
    div.row
        div.col-2
            span.http-method.badge(class=`badge-${group}`)=endpoint.method.toUpperCase()
        div.col-8
            span=endpoint.path
        div.col-1
            a.action-icon(data-raw-url=repository.rawURL(endpoint.file), onclick="getRawContent.bind(this)()")
                include svg/code.svg
        div.col-1
            a.action-icon(href=repository.editorURL(endpoint.file), target="_blank")
                include svg/pen.svg
    div.code-expandable(data-raw-url=repository.rawURL(endpoint.file))
