case endpoint.method.toUpperCase()
    when 'GET'
        - var alert = "alert-primary"
    when 'POST'
        - var alert = "alert-success"
    when 'PUT'
        - var alert = "alert-warning"
    when 'DELETE'
        - var alert = "alert-danger"
    default
        - var alert = "alert-secondary"

div.alert.endpoint(role="alert", class=alert)
    div.row
        div.col-2
            b=endpoint.method.toUpperCase()
        div.col-8
            span=endpoint.path
        div.col-1
            a.action-icon(data-raw-url=repository.rawURL(endpoint.file), onclick="getRawContent.bind(this)()")
                include svg/code.svg
        div.col-1
            a.action-icon(href=repository.editorURL(endpoint.file), target="_blank")
                include svg/pen.svg
    div.code-expandable(data-raw-url=repository.rawURL(endpoint.file))
